<div class="custom-cover-image ( -about )"></div>

<section role="region" class="bloom-section">
	<div class="bloom-section__body">
		<h1>about</h1>
		<p>Ellucian IL is a one-day annual conference for higher-ed institutions that have the Ellucian Banner or Ellucian Colleague system. It is a great opportunity to connect with your peers and see presentations about trending topics, new features and what's on the roadmap for Ellucian products and services.</p>
		<div class="bloom-box custom-box-primary">
			<table class="bloom-table" id="about-list">
				<tbody>
					<tr>
						<td class="bloom-width-1-5 bloom-medium-width-1-2">{{name}}</td>
						<td class="bloom-width-4-5 bloom-medium-width-1-2">{{text}}</td>
					</tr>
				</tbody>
			</table>
		</div>		
		<p><a class="bloom-button" role="button" target="_blank" href="https://www.google.com/maps/place/Moraine+Business+and+Conference+Center,+Palos+Hills,+IL+60465/@41.6930851,-87.8399729,17z/data=!3m1!5s0x880e388d9a0bfbd9:0xb5179ef8121e4be0!4m12!1m6!3m5!1s0x880e388db117689d:0xda6e1e154fd49464!2sMoraine+Valley+Community+College!8m2!3d41.6930851!4d-87.8377842!3m4!1s0x880e388d9a763cd3:0xac6a4b93e6dd64cb!8m2!3d41.6913818!4d-87.8382448">Directions</a></p>
	</div>
</section>
