<section role="region" class="bloom-section">
	<div class="bloom-section__body">
		<h1>tenative agenda</h1>
		<p>Breakfast and lunch are included in the registration fee.</p>
		<div class="bloom-box custom-box-primary">
			<table id="agenda-list" class="bloom-table">
				<tbody>
					<tr>
						<td class="bloom-width-1-5 bloom-medium-width-1-2">{{starts}} - {{ends}}</td>
						<td class="bloom-width-4-5 bloom-medium-width-1-2">{{item}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p><a class="bloom-button" role="button" target="_blank" href="#/sessions">View the Sessions</a></p>		
	</div>
</section>