<section role="region" class="bloom-section">
	<div class="bloom-section__body">
		<h1>subscribe</h1>
		<p>Sign up to receive information on future EllucianIL conferences.</p>
		<form class="bloom-form ( -inline )" method="post" action="subscribe.php">
			<div class="bloom-form__item">
				<label class="bloom-form__label">First name:</label>
				<input class="bloom-form__input bloom-width-1-2" name="FirstName" type="text" maxlength="50" required="">
			</div>
			<div class="bloom-form__item">
				<label class="bloom-form__label">Last name:</label>
				<input class="bloom-form__input bloom-width-1-2" name="LastName" type="text" maxlength="50" required="">
			</div>
			<div class="bloom-form__item">
				<label class="bloom-form__label">E-mail:</label>
				<input class="bloom-form__input bloom-width-1-2" name="Email" type="email" maxlength="150" required="">
			</div>
			<div class="bloom-form__item">
				<label class="bloom-form__label">What is 20 + 25?</label>
				<input class="bloom-form__input bloom-width-1-2" name="Captcha" type="text" maxlength="10" required="">
			</div>					
			<div class="bloom-form__item">
				<label class="bloom-form__label">&nbsp;</label>
				<input class="bloom-button is-subscribed" type="submit" value="Subscribe">
			</div>				
		</form>	
	</div>
</section>